/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

body {
    font-family: "IBM Plex Sans", serif;
    display: grid;
    grid-template-columns: 275px 1fr;
    grid-template-rows: 175px 1fr;
    grid-template-areas:
        "sidebar header"
        "sidebar main";
    height: 100vh;
}

.sidebar {
    grid-area: sidebar;
    background-color: #1d6d88;
    color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    border-radius: 0 25px 25px 0;
}

.header {
    grid-area: header;
    display: grid;
    grid-template-rows: 1fr 2fr;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    border-bottom: solid;
    border-color: #1d6d88;
    border-width: 2px;
    padding-top: 10px;
    border-radius: 0 0 25px 25px;
}

.main {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 275px;
    grid-template-areas:
        "main-content right-sidebar";
}

.main-content {
  grid-area: main-content;
  padding: 20px;
}

.right-sidebar {
  grid-area: right-sidebar;
  padding: 20px 0 0 0;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    gap: 20px;
}

ul {
    padding: 0;
    list-style-type: none;
}

.card {
    min-height: 200px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 10px 1fr;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.side-card-announcements {
    width: 250px;
    height: 300px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: grid;
}

.side-card-trending {
  width: 250px;
  height: 300px;
  border-radius: 10px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-bottom: 30px;
}

.header-top {
  display: grid;
  grid-template-columns: minmax(530px,1fr) 250px;
  align-items: center;
  padding-left: 30px;
  margin-right: 50px;
}

.header-bottom {
  display: grid;
  grid-template-columns: 1fr 325px;
  align-items: center;
  padding-left: 40px;
  padding-right: 30px;
}

.header-icons {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  font-size: 14px;
  justify-items: center;
  align-items: center;
}

.user-info {
  display: grid;
  grid-template-columns: 70px 1fr;
  align-items: center;
}

.user-info h2 {
  margin-left: 20px;
}

.side-card-content-trending {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.announcement {
  display: grid;
  align-content: center;
  min-height: 100px;
  padding: 20px;
}

.announcement p {
  font-size: 12px;
  line-height: 15px;
}


.announcement h3 {
  font-size: 12px;
}

.card-border-left {
  background-color: #1d6d88;;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.card-content {
  display: grid;
  grid-template-rows: auto 1fr auto;
  padding: 20px;
}

.card-icons {
  display: grid;
  grid-auto-flow: column;
  justify-content: end;
  gap: 20px;
}

button {
  color: white;
  background-color: #1d6d88;
  height: 38px;
  width: 85px;
  border-radius: 50px;
  border-style: none;
  font-size: 15px;
  font-weight: 600;
}

button:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
  padding-right: 50px;
}

input {
  width: 80%;
  max-width: 500px;

}

input[type=text] {
  background-color:rgb(100, 98, 98, 0.2);
  border-style: solid;
  border-color: #1d6d88;
}

.your-projects {
  margin-bottom: 15px;
  font-size: 20px;
}

input {
  border-radius: 25px;
  height: 28px;
  padding: 0 20px;
}

ul img {
  height: 30px;
  width: 30px;
  filter: invert(1);
}

.dashboard img {
  height: 60px;
  width: 60px;
  filter: invert(1);
}

li {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 20px;
  font-size: 20px;
  margin: 15px 0;
  font-weight: 500;
}

li:hover {
  font-weight: 900;
}

.dashboard {
  font-size: 30px;
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  margin-left: 20px;
  margin-top: 20px;
  gap: 10px;
  font-weight: 600;
}

button, li span, .card-icons img, .header img, .header h3 {
  cursor: pointer;
}

.name {
  font-size: 25px;
}

.card h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.card p {
  font-size: 15px;
  line-height: 20px;
}

ul {
  margin-left: 40px;
}

.avatar img {
 height: 70px;
 width: 70px;
 border-radius: 50%;
 box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.avatar-small img {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  border-style: solid;
  border-color: #1d6d88;
  border-width: 2px;
}



.search img {
  height: 25px;
  width: 25px;
  margin-right: 10px;
}


.search {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}

#alert {
  height: 25px;
}

.card-icons img {
  height: 20px;
  width: 20px;
}

.member {
  display: grid;
  grid-template-columns: 60px 1fr;
  align-items: center;
}

.member-info {
  display: grid;
  grid-template-rows: 1fr 1fr;
  font-size: 13px;
  justify-self: left;
}

hr {
  border: 0;
  height: 2px;
  background: #1d6d88;
  margin: 0 20px 0 20px;
}

p {
  color: rgb(100, 98, 98);
}